*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    color: white;
    text-align: center;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container__desc{
    color: gray;
    margin-top: 10px;
}

.image__one,.image__two,.image__three,.image__four{
    margin: 2px;
    border: solid black 2px;
    display: inline-block;
}
.image{
    text-align: center;
}

img{
    height: 300px;
    width:230px;
}

.image p{
    margin-top: 5px;
}

.image button{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: none;
    background-color: black;
    color: white;
    border: solid gray 1px;
}

.image button:hover{
    background-color: gray;
    color: black;
}

.contact{
    text-align: center;
    background-color: black;
    color: white;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.contact__table{
    display: inline-block;
}

.contact__button{
    border: none;
    background-color: yellow;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid grey 1px;
    font-weight: bold;
}

.contact__button:hover{
    background-color: yellowgreen;
    color: whitesmoke;
}